.download{
    @include width-height(100%,700px);
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-image: url("../img/img13.png"),
    url("../img/img12.png");
    background-repeat: no-repeat,
     no-repeat;
    background-position: right 0 bottom -50px,
    left 0 bottom -30px;
    background-size: 255px 198px,
    255px 198px;
    padding: 0 240px 123px 168px;
    &__img{
        flex: 0 0 45%;
        min-height: 458px;
        background-image: url("../img/img01.png"),
        url("../img/img03.png");
        background-repeat: no-repeat,
        no-repeat;
        background-position: left 0 bottom 0,
        right 0 bottom 0;
        background-size: 180px 343px,
        180px 343px;
        align-self: center;
        & img{
            position: relative;
            left: 27%;
            bottom: -60px;
            @include width-height(240px,458px);
        }
    }
    &__description{
        flex:0 0 45%;
        text-align: center;
        margin: 0 0 0 68px;
        padding: 40px 0 0; 
    }
    &__title{
        @include fontStyle(800,25px,25px,$color_black-bold); 
        margin: 50px 0 15px;
    }
    &__text{
        @include fontStyle(400,16px,24px,$color_black-bold);
        margin: 0 0 60px;
        opacity: 50%; 
    }
    &__btn{
        @include width-height(165px,62px);
        border-radius: 5px; 
        border: none; 
        background-color: $color_black-bold;
        margin: 0 14px 0;
        transition: opacity 0.5s ease;
        cursor: pointer;
        &:hover{
            opacity: 0.6;
        } 
    }
}